<div class="container">
  <div class="row">
    <div class="col s6">
      <app-station-list (selectEvent)="selectAction($event)"></app-station-list>
    </div>
    <div class="col s6">
      <app-station-display [station]="selectedStation"></app-station-display>
      <app-station-correspondance *ngIf="selectedStation" [departureStation]="selectedStation"></app-station-correspondance>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
