<table>
  <thead>
  <tr>
    <th>Nom de la station</th>
    <th>LocationX/LocationY</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let station of data">
    <td>{{ station.name }}</td>
    <td>{{ station.locationX }}/{{ station.locationY }}</td>
    <td>
      <button (click)="selectStationAction(station.id)">Voir</button>
    </td>
  </tr>
  </tbody>
</table>
